.customers {
  .list-svg {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    .item {
      svg {
        display: flex;
        width: 210px;
        height: 92px;
        border: 1px solid #afb1b8;
        border-radius: 4px;
        fill: #afb1b8;
        &:hover {
          border-color: var(--brand-blue);
          fill: var(--brand-blue);
          cursor: pointer;
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .customers .list-svg .item svg {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .customers .list-svg .item svg {
    width: 170px;
  }
  .customers .list-svg {
    flex-wrap: nowrap;
  }
}
