// .services {
//   .descriptions {
.description-icon-list {
  display: flex;
  gap: 30px;
  justify-content: center;

  .icon {
    display: flex;
    width: 450px;
    height: 120px;
    background: var(--brand-loose-grey);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
  }
}

.services-all {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

// .description-text-list {
//   display: flex;
//   justify-content: space-evenly;
//   margin-top: 30px;

.list {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  gap: 10px;
  width: 450px;

  &__title {
    font-size: 14px;
    text-transform: uppercase;
    // margin-top: auto;
    margin-bottom: auto;
    text-align: center;

    margin-top: 30px;
  }
  &__text {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--brand-grey);
    // width: 270px;
  }

  // li {
  //   display: flex;
  //   flex-direction: column;
}
// }
// }

.image-boxes {
  .title {
    padding-top: 94px;
    padding-bottom: 0;
  }
  .images {
    display: flex;
    flex-direction: row;
    padding-inline-start: 0px;
    justify-content: space-between;
    .item {
      width: 370px;
      height: 294px;
      mix-blend-mode: normal;
    }
  }
}

@media screen and (min-width: 768px) {
  .description-icon-list {
    .icon {
      width: 354px;
    }
  }
  .list {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .description-icon-list {
    .icon {
      width: 270px;
    }
  }
  .list {
    width: 270px;
    &__title {
      text-align: left;
    }
  }
}

@media screen and (max-width: 1199px) {
  .image-boxes {
    display: none;
  }
}
